<!-- 企业相册 -->
<div class="tps_album">
	<div class="tps_title clr">
		<div class="name">企业相册</div>
		<a href="/jdzsjgtc/album/" class="popbtn more" title="更多"></a>
	</div>
	<div class="main">
		<div class="swiper-container" id="shopsAlbum">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11868.html" title="景德镇市金冠陶瓷有限公司厂房" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F3/wKgAK1bg3xWIHkqcAAAAPAnfDnUAAABtQCDOsgAAABU820_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司厂房</span>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11869.html" title="景德镇市金冠陶瓷有限公司 展厅" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F3/wKgAK1bg30uIdBMxAAAAPAckG-sAAABtQGC5pgAAABU048_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司 展厅</span>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11870.html" title="景德镇市金冠陶瓷有限公司 门店" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F3/wKgAKVbg3-GIbkdCAAAAPBhfdNQAAABtQPLc8kAAABU214_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司 门店</span>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11871.html" title="景德镇市金冠陶瓷有限公司 门店" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F9/wKgAKVbg4FeIJU4KAAAAPHK0ufkAAABtgA7hB4AAABU423_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司 门店</span>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11872.html" title="景德镇市金冠陶瓷有限公司 门店" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F9/wKgAK1bg4GeIG0OVAAAAPHrvFSQAAABtgBqRPAAAABU282_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司 门店</span>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="http://m.d17.cc/jdzsjgtc/album/show-11872.html" title="景德镇市金冠陶瓷有限公司 门店" class="link">
						<img src="http://img1.d17.cc/group1/M00/1A/F9/wKgAK1bg4GeIG0OVAAAAPHrvFSQAAABtgBqRPAAAABU282_thumb.jpg" class="pic">
						<span class="name">景德镇市金冠陶瓷有限公司 门店</span>
					</a>
				</li>
			</ul>
			<div class="swiper-scrollbar album_scrollbar"></div>
		</div>
	</div>
</div>