<!-- 浮动联系我们 -->
<div class="tps_floatcontact">
	<a href="tel:18070082180" title="联系商家" class="btn btn1">联系商家</a>
	<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=305007930&amp;site=qq&amp;menu=yes" title="在线咨询" class="btn btn2">在线咨询</a>
</div>
<div class="tps_foot">
	<div class="main">
	    <a href="/membercenter/login.php" class="btn">登录</a>
	    <a href="http://m.d17.cc/single/extension.php" class="btn">注册</a>
	    <a href="/single/websiteMap.php" class="link">导航</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/membercenter/help.php" class="link">帮助</a>
	</div>
	<div class="copy">
		<a href="http://www.d17.cc/">电脑版</a>&nbsp;|&nbsp;<a href="http://m.d17.cc/">移动版</a>
		<p>{:C('WEB_SITE_ICP')}<br />第一枪 版权所有</p>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="__WEBMONKEY__/js/jquery/swiper/3.2.7/swiper.min.css" />
<script type="text/javascript" src="__WEBMONKEY__/js/jquery/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="__WEBMONKEY__/js/jquery/swiper/3.2.7/swiper.jquery.min.js"></script>
<script type="text/javascript" src="__WEBMONKEY__/js/jquery/toucher/toucher.js"></script>
<script type="text/javascript" src="__MONKEYSTYLE__js/src/default.mobile.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	effect.init();
});
	
</script>

</body>
</html>