<!-- 公司简介 -->
<div class="tps_introduce">
	<div class="tps_title clr">
		<div class="name">企业简介</div>
		<a href="/jdzsjgtc/introduce/" class="popbtn more" title="更多"></a>
	</div>
	<div class="main">
		<a href="/jdzsjgtc/introduce/" title="景德镇市金冠陶瓷有限公司" class="pic">
			<img src="http://img1.d17.cc//group1/M00/51/11/wKgAKVcQYeOIZnIlAAAAPFY2xUMAAAIoALDjnsAAABU020.jpg" alt="景德镇市金冠陶瓷有限公司">
		</a>
		<div class="item">
			<div class="content">景德镇市金冠陶瓷有限公司，位于千年古镇“中国瓷都”江西省景德镇市浮梁县陶瓷工业园区，是生产环保健康的高档日用绿色陶瓷的厂家。&nbsp;公司专业生产餐具二十余年，先后荣获景德镇市知名商标、江西省著名商标、市场诚信单位、守合同重信用公示单位、深受市场欢迎品牌、诚信单位等荣誉，是世界华商定点采购陶瓷企业。本厂生产的主要产品有：中西餐具、咖啡具、茶具、酒具、文具、高档陈设日用瓷、杯、盘、碗、碟等。在引进国外先进生产设备和结合瓷都民间艺术精华的基础上生产的釉中、釉上彩高档日用健康陶瓷“无铅、无镉、无毒”耐高温，适用于微波炉，是真正的“国际绿色产品”。景德镇市金冠环保健康系列陶瓷品种齐全，具有瓷质细腻，器型规范，釉面润滑光亮，花面新颖剐致的特点，将实用、装饰、艺术、健康有机的融为一体。<br>&nbsp;&nbsp;金冠陶瓷本着“以质量为中心，以科技为先导”的经营方针，创新的理念，卓越的品质，满意的服务，赢得了国内外顾客与消费者的亲睐。公司秉承“崇本务实，同创共享，永续经营”的经营宗旨，引进国际先进的管理模式，公司拥有强大的经营管理实力和过硬的技术创新能力，并与国外等多家国际著名的陶瓷企业及研发机构保持着广泛的技术合作与交流，产品研发能力及生产技术始终保持行业前列，综合实力处于行业领先水平。金冠陶瓷有限公司通过对资本、知识、人才、技术和信息资源的整合运营，在市场上获得了广泛的认可。其产品具有色泽统一、档次高、质量好、品种多、价格优等多项优点，销售网络遍布全国所有大中型城市，产品远销欧洲、北美、东南亚、西亚等海外市场。
			</div>
			<a href="/jdzsjgtc/introduce/" title="更多" class="btn">MORE&nbsp;+</a>
		</div>
	</div>
</div>

