<!-- 导航 -->
<nav class="tps_nav">
	<div class="display_flex">
		<a href="{:U('article/introduce')}" class="link" title="公司介绍">
			<img src="__MONKEYSTYLE__images/shop_nav1.png" class="pic" alt="公司介绍">
			<span class="tip">公司介绍</span>
		</a>
		<a href="{:U('Article/lists?category=56')}" class="link" title="产品展示">
			<img src="__MONKEYSTYLE__images/shop_nav2.png" class="pic" alt="产品展示">
			<span class="tip">产品展示</span>
		</a>
		<a href="{:U('Article/lists?category=53')}" class="link" title="新闻资讯">
			<img src="__MONKEYSTYLE__images/shop_nav3.png" class="pic" alt="新闻资讯">
			<span class="tip">新闻资讯</span>
		</a>
	</div>
	<div class="display_flex">
		<a href="{:U('article/album')}" class="link" title="企业相册">
			<img src="__MONKEYSTYLE__images/shop_nav4.png" class="pic" alt="企业相册">
			<span class="tip">企业相册</span>
		</a>
		<a href="{:U('article/honor')}" class="link" title="荣誉证书">
			<img src="__MONKEYSTYLE__images/shop_nav5.png" class="pic" alt="荣誉证书">
			<span class="tip">荣誉证书</span>
		</a>
		<a href="{:U('Article/lists?category=59')}" class="link" title="联系方式">
			<img src="__MONKEYSTYLE__images/shop_nav6.png" class="pic" alt="联系方式">
			<span class="tip">联系方式</span>
		</a>
	</div>
</nav>