<include file="Public/header"/>
<!-- 联系方式 -->
<div class="tps_contact">
	<div class="tps_title clr">
		<div class="name">联系方式</div>
	</div>
	<div class="pagein_contact">
			<ul>
				<li>
					<span class="tip">公司名称：</span>
					<span class="item">{:C('COMPANY_NAME')}</span>
				</li>
				<li>
					<span class="tip">公司地址：</span>
					<span class="item">私营合伙</span>
				</li>
				<li>
					<span class="tip">邮政编码：</span>
					<span class="item">私营合伙</span>
				</li>
				<li>
					<span class="tip">手机号码：</span>
					<span class="item">私营合伙</span>
				</li>
				<li>
					<span class="tip">电子邮件：</span>
					<span class="item">私营合伙</span>
				</li>
				<li>
					<span class="tip">公司网址：</span>
					<a href="http://jdzsjgtc.d17.cc" class="item">http://jdzsjgtc.d17.cc</a>
				</li>
				<li>
					<span class="tip">联系人：</span>
					<span class="item">私营合伙</span>
				</li>
				<li>
					<span class="tip">公司电话：</span>
					<span class="item">私营合伙</span>
				</li>			
			</ul>
			<!--百度地图-->
			{:hook('Map')}
	</div>
</div>
<div class="tps_position clr" id="pageId" data-id="6">
	<img src="__MONKEYSTYLE__images/bread_nav_ico.png">
	<a href="{:U('index/index')}">首页</a>
	<i class="iconright"></i>
	<span>联系方式</span>
</div>
<include file="Public/footer"/>