<div class="page_banners">
    <div class="slideBox" id="slideBox">
        <div class="hd">
            <ul>
            </ul>
        </div>
        <div class="bd">
            <ul>
            	<volist name='focus' id='vo'>
                <li>
                <a href="{$vo.url}" target="_blank" class="link1">
                    <img src="{$vo.pic|get_cover='path'}" alt="" />
                </a>
                </li>
                </volist>
               
            </ul>
        </div>
    </div>
</div>