<include file="Public/header"/>
<!-- 最新产品 -->
<div class="product-detail">
<div class="tps-position clr">
	<a href="{:U('index/index')}" class="link">首页</a>
	<i class="iconright">&nbsp;&raquo;&nbsp;</i>
	<a href="{:U('Article/lists?category=62')}" class="link">产品列表</a>
	<i class="iconright">&nbsp;&raquo;&nbsp;</i>
	<span class="last a_hidden">{$info.title}</span>
</div>
<div class="tps-product">
	
	
	<div class="tps-product-detail">
		{$info['duotu']|get_wapduotu=###,'detailpic','picFocus'}
		<div class="tps-editor">{$info.content}</div>
		<!--产品名称-->
       
	</div>
		<!--产品描述-->
		<div class="tps-title tps-title-item">
			<div class="name">产品描述</div>
		</div>
		
</div>
</div>




<include file="Public/footer"/>
</body>
</html>