@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  min-width: 1200px;
}
img {
  border: 0px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
}
div,
p,
h1,
h2,
h3,
h4,
b,
form,
input,
ul,
ol,
li,
a,
dd,
dt,
dl,
i,
em {
  color: #323232;
  list-style: none;
  font-family: "Microsoft YaHei", tahoma, Arial, "微软雅黑", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*清空浮动的代码-start*/
.clr:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clr {
  display: block;
}
html[xmlns] .clr {
  display: block;
}
* html .clr {
  height: 1%;
}
img {
  border: 0px;
}
/*清空浮动的代码-end*/
.a_hidden {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.font_light {
  font-family: '微软雅黑 Light';
}
.productdetail_keditor {
  word-wrap: break-word;
  width: 1200px;
}
.productdetail_keditor img {
  max-width: 1000px;
  margin: 0 auto;
}
.productdetail_keditor pre {
  white-space: inherit;
}
body {
  padding-top: 104px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-none {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.module_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background: #fff;
  z-index: 300;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.9);
}
.module_header .main {
  width: 1200px;
  margin: 0 auto;
}
.module_header .main .link_logo {
  float: left;
  margin-top: 21px;
}
.module_header .main .link_logo .pic_logo {
  display: block;
}
.module_header .main .right_nav {
  float: right;
  margin-top: 33px;
}
.module_header .main .right_nav .link {
  float: left;
  width: 100px;
  height: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  margin-right: 3px;
}
.module_header .main .right_nav .link .text {
  text-align: center;
  color: #3d5266;
  font-size: 14px;
  padding-top: 2px;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
}
.module_header .main .right_nav .link .word {
  text-align: center;
  color: #3d5266;
  font-size: 12px;
  text-transform: uppercase;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
}
.module_header .main .right_nav .link .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4a9df1;
  top: 0;
  left: -100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  z-index: -1;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.module_header .main .right_nav .link:hover .mask {
  left: 0;
}
.module_header .main .right_nav .link:hover .text {
  color: #fff;
}
.module_header .main .right_nav .link:hover .word {
  color: #fff;
}
.module_header .main .right_nav .active .mask {
  left: 0;
}
.module_header .main .right_nav .active .text {
  color: #fff;
}
.module_header .main .right_nav .active .word {
  color: #fff;
}
.page_banners .slideBox {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.page_banners .slideBox .hd {
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 25px;
  z-index: 1;
  margin-left: -43.5px;
}
.page_banners .slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  float: left;
  margin: 0 auto;
}
.page_banners .slideBox .hd ul li {
  float: left;
  margin-right: 7px;
  width: 10px;
  height: 10px;
  border: 2px solid #4a9df1;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-indent: 500px;
}
.page_banners .slideBox .hd ul li.on {
  border-color: #4a9df1;
  background: #4a9df1;
}
.page_banners .slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0;
}
.page_banners .slideBox .bd li {
  zoom: 1;
  vertical-align: middle;
}
.page_banners .slideBox .bd li a {
  display: block;
  width: 100%;
  overflow: hidden;
}
.page_banners .slideBox .bd li a img {
  display: block;
  width: 100%;
}
.page-title-style {
  display: block;
  margin: 0 auto;
  padding: 60px 0 30px;
}
.pageindex_list1 {
  overflow: hidden;
  min-height: 514px;
}
.pageindex_list1 .main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.pageindex_list1 .main .bage {
  position: absolute;
  top: 0;
  right: -120px;
}
.pageindex_list1 .main .cen_box .left_link {
  float: left;
  width: 580px;
  height: 325px;
  margin-left: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.pageindex_list1 .main .cen_box .left_link .pic {
  display: block;
  width: 100%;
  height: 100%;
}
.pageindex_list1 .main .cen_box .right_box {
  float: right;
  margin-right: 10px;
  width: 580px;
  padding-top: 35px;
  position: relative;
  height: 290px;
}
.pageindex_list1 .main .cen_box .right_box .text {
  font-size: 14px;
  line-height: 26px;
  max-height: 208px;
  overflow: hidden;
}
.pageindex_list1 .main .cen_box .right_box .index-linkmore-style {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.index-linkmore-style {
  display: block;
  width: 135px;
  height: 52px;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style .inner_left {
  float: left;
  padding-top: 12px;
  padding-left: 20px;
}
.index-linkmore-style .inner_left .inn_te1 {
  font-size: 16px;
  color: #4a9df1;
  line-height: 16px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style .inner_left .inn_te2 {
  font-size: 12px;
  color: #4a9df1;
  line-height: 12px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style .inner_line {
  width: 1px;
  height: 26px;
  background: #cccccc;
  float: left;
  margin-top: 12px;
  margin-left: 8px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style .icon_arr {
  float: left;
  width: 14px;
  height: 12px;
  background: url("../images/someicon.png");
  background-position: 0 0;
  margin-top: 20px;
  margin-left: 8px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style .icon_arr2 {
  float: left;
  width: 14px;
  height: 12px;
  background: url("../images/someicon.png");
  background-position: -16px 0;
  margin-top: 20px;
  margin-left: 8px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.index-linkmore-style:hover {
  background: #4a9df1;
  box-shadow: 0px 0px 18px 1px rgba(74, 157, 241, 0.5);
}
.index-linkmore-style:hover .inner_left .inn_te1 {
  color: #ffffff;
}
.index-linkmore-style:hover .inner_left .inn_te2 {
  color: #ffffff;
}
.index-linkmore-style:hover .inner_line {
  color: #fff;
}
.index-linkmore-style:hover .icon_arr2 {
  display: none;
}
.pageindex_list2 {
  background: #f1f2f7 url("../images/indexlist2bg.jpg") no-repeat center bottom;
  height: 673px;
}
.pageindex_list2 .main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.pageindex_list2 .main .bage_pic {
  position: absolute;
  top: -58px;
  left: -178px;
}
.pageindex_list2 .main .picScroll-left {
  overflow: hidden;
  position: relative;
}
.pageindex_list2 .main .picScroll-left .hd {
  overflow: hidden;
}
.pageindex_list2 .main .picScroll-left .hd ul {
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
  zoom: 1;
}
.pageindex_list2 .main .picScroll-left .hd ul li {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin: 0 5px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid #4a9df1;
}
.pageindex_list2 .main .picScroll-left .hd ul li.on {
  background: #4a9df1;
}
.pageindex_list2 .main .picScroll-left .bd ul {
  overflow: hidden;
  zoom: 1;
}
.pageindex_list2 .main .picScroll-left .bd ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 10px;
  float: left;
  _display: inline;
  overflow: hidden;
  width: 280px;
  height: 448px;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box {
  display: block;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .top_box {
  padding-left: 20px;
  padding-top: 230px;
  padding-bottom: 15px;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .top_box .text {
  font-size: 14px;
  color: #fff;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .top_box .text span {
  font-weight: bold;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .top_box .word {
  font-size: 12px;
  color: #fff;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .bottom_box {
  height: 500px;
  background: #fff;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .bottom_box .tit {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #4a9df1;
  font-weight: bold;
  line-height: 16px;
  padding-top: 18px;
  width: 240px;
  margin: 0 auto;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box .bottom_box .wirt {
  width: 240px;
  margin: 20px auto;
  font-size: 14px;
  color: #3d5266;
  line-height: 22px;
  height: 88px;
  overflow: hidden;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .top_box {
  padding-top: 155px;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .top_box .text {
  color: #3d5266;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .top_box .word {
  color: #3d5266;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .bottom_box {
  background: #4a9df1;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .bottom_box .tit {
  color: #fff;
}
.pageindex_list2 .main .picScroll-left .bd ul li .link_box:hover .bottom_box .wirt {
  color: #fff;
  height: 154px;
}
.pageindex_list3 {
  background: #f1f2f7;
  padding-bottom: 10px;
}
.pageindex_list3 .main {
  width: 1200px;
  margin: 0 auto;
}
.pageindex_list3 .main .link {
  float: left;
  width: 580px;
  margin: 0 10px 20px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.pageindex_list3 .main .link .con {
  width: 540px;
  margin: 0 auto;
}
.pageindex_list3 .main .link .con .title .icon_l {
  width: 7px;
  height: 12px;
  display: block;
  float: left;
  background: url("../images/someicon.png");
  background-position: -38px 0;
  margin-top: 7px;
}
.pageindex_list3 .main .link .con .title .text_t {
  float: left;
  font-size: 24px;
  color: #4a9df1;
  margin-left: 8px;
  line-height: 24px;
}
.pageindex_list3 .main .link .con .title .word_r {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  color: #90c0f0;
  line-height: 12px;
  margin-top: 12px;
  margin-left: 3px;
}
.pageindex_list3 .main .link .con .line {
  width: 100%;
  height: 2px;
  background: #dae6f2;
  margin-top: 15px;
}
.pageindex_list3 .main .link .con .text {
  font-size: 14px;
  color: #3d5266;
  line-height: 28px;
  margin-top: 15px;
  height: 84px;
  overflow: hidden;
  letter-spacing: 1px;
}
.pageindex_list3 .main .link:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.pageindex_list4 {
  height: 534px;
}
.pageindex_list5 {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.pageindex_list5 .index-linkmore-style {
  float: right;
}
.pet_articles_list {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.pet_articles_list .link_list {
  float: left;
  width: 280px;
  margin: 0 10px 15px;
}
.pet_articles_list .link_list .pic_box {
  display: block;
  border: 1px solid #b9eafc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 208px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.pet_articles_list .link_list .pic_box .pic {
  display: block;
  width: 100%;
  height: 100%;
}
.pet_articles_list .link_list .text_box {
  margin-top: 10px;
}
.pet_articles_list .link_list .text_box .text {
  font-size: 20px;
  color: #3d5266;
}
.pet_articles_list .link_list .text_box .word {
  text-transform: uppercase;
  font-size: 12px;
  color: #5c7a99;
}
.pet_articles_list .link_list:hover .pic_box {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.module_footer {
  background: #525c66;
  padding-top: 40px;
}
.module_footer .main {
  width: 1180px;
  margin: 0 auto;
}
.module_footer .main .left_box {
  float: left;
  width: 460px;
}
.module_footer .main .left_box .title_text {
  font-size: 18px;
  color: #fff;
  line-height: 18px;
}
.module_footer .main .left_box .title_text span {
  font-weight: bold;
}
.module_footer .main .left_box .title_word {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3px;
}
.module_footer .main .left_box .con_box {
  margin-top: 28px;
}
.module_footer .main .left_box .con_box .code {
  float: left;
  width: 80px;
  height: 80px;
}
.module_footer .main .left_box .con_box .text_info {
  float: left;
  width: 355px;
  margin-left: 20px;
}
.module_footer .main .left_box .con_box .text_info .lis {
  margin-bottom: 10px;
}
.module_footer .main .left_box .con_box .text_info .lis .le {
  float: left;
  color: #b8c2cc;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.module_footer .main .left_box .con_box .text_info .lis .ri {
  float: left;
  color: #b8c2cc;
  font-size: 14px;
  width: 310px;
  line-height: 24px;
}
.module_footer .main .form_box {
  float: right;
  width: 580px;
}
.module_footer .main .form_box .top .lis {
  float: left;
  position: relative;
}
.module_footer .main .form_box .top .lis2 {
  float: right;
  position: relative;
}
.module_footer .main .form_box .top .inp {
  width: 265px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: none;
  font-size: 14px;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #999999;
}
.module_footer .main .form_box .lis3 {
  position: relative;
  margin-top: 20px;
}
.module_footer .main .form_box .lis3 .write {
  display: block;
  height: 90px;
  background: #fff;
  width: 550px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
}
.module_footer .main .form_box .btns {
  display: block;
  width: 180px;
  height: 40px;
  background: #4a9df1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  float: right;
  margin-top: 20px;
}
.module_footer .last_text {
  width: 1180px;
  margin: 0 auto;
  font-size: 14px;
  color: #b8c2cc;
  line-height: 14px;
  padding: 32px 0 10px;
}
.Validform_wrong {
  color: #525c66;
  padding-left: 8px;
  white-space: nowrap;
  display: block;
  position: absolute;
  right: 0;
  top: 35px;
  padding-right: 5px;
  z-index: 10;
  text-align: center;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  line-height: 20px;
  font-size: 12px;
  background: #f5f5f5;
}
.Validform_right {
  display: none;
}
.Validform_loading {
  padding-left: 20px;
  background: url(../images/onLoad.gif) no-repeat left center;
  position: absolute;
  left: 281px;
  top: 48px;
  border: 1px solid #ddd;
  z-index: 10;
  text-align: center;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  background-color: #f5f5f5;
}
.Validform_loading:after {
  content: " ";
  position: absolute;
  background: url("../images/icon_tip.png");
  width: 13px;
  height: 11px;
  top: -11px;
  right: 11px;
}
#Validform_msg {
  color: #7d8289;
  font: 12px/1.5 tahoma, arial, sans-serif;
  width: 280px;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  -moz-box-shadow: 2px 2px 3px #aaa;
  background: #fff;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 99999;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}
#Validform_msg .iframe {
  position: absolute;
  left: 0px;
  top: -1px;
  z-index: -1;
}
#Validform_msg .Validform_title {
  line-height: 25px;
  height: 25px;
  text-align: left;
  font-weight: bold;
  padding: 0 8px;
  color: #fff;
  position: relative;
  background-color: #000;
}
#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
  line-height: 22px;
  position: absolute;
  right: 8px;
  top: 0px;
  color: #fff;
  text-decoration: none;
}
#Validform_msg a.Validform_close:hover {
  color: #cc0;
}
#Validform_msg .Validform_info {
  padding: 8px;
  border: 1px solid #000;
  border-top: none;
  text-align: left;
}
.about_us {
  overflow: hidden;
}
.about_us .main_title {
  margin: 50px 0 60px;
  text-align: center;
}
.about_us .main_title .link {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #7fcff9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin: 0 18px;
  font-size: 20px;
  color: #7fcff9;
}
.about_us .main_title .link:hover {
  background: #7fcff9;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.about_us .main_title .active {
  background: #7fcff9;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.inner-title-style {
  width: 1200px;
  margin: 0 auto;
  padding-top: 34px;
  position: relative;
}
.inner-title-style .bage {
  position: absolute;
  top: 0;
  right: -360px;
}
.inner-title-style .innteit_top {
  float: left;
}
.inner-title-style .innteit_top .icon_ins {
  float: left;
  width: 20px;
  height: 29px;
  background: url("../images/someicon.png");
  background-position: 0 -14px;
  margin-left: 10px;
  margin-top: 1px;
}
.inner-title-style .innteit_top .innte {
  float: left;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #3d5266;
  margin-left: 12px;
}
.inner-title-style .innnav_right {
  float: right;
  font-size: 13px;
  color: #3d5266;
  line-height: 13px;
}
.inner-title-style .innnav_right a {
  color: #3d5266;
}
.inner-title-style .innnav_right a:hover {
  opacity: .7;
}
.inner-title-style .line_text {
  margin-top: 10px;
  position: relative;
}
.inner-title-style .line_text .innline {
  float: left;
  width: 50px;
  height: 4px;
  background: #7fcff9;
  margin-top: 5px;
}
.inner-title-style .line_text .inntext {
  float: left;
  font-size: 13px;
  color: #3d5266;
  line-height: 13px;
  padding: 0 10px;
}
.inner-title-style .line_text .innline2 {
  position: absolute;
  width: 1035px;
  height: 1px;
  background: #7fcff9;
  right: 0;
  top: 7px;
}
.own_flip {
  text-align: center;
  margin-bottom: 54px;
}
.own_flip a {
  line-height: 26px;
  border: 1px solid #f4f4f4;
  display: inline-block;
  _zoom: 1;
  *display: inline;
  padding: 0 10px;
  color: #323232;
  *padding: 5px 10px;
  *line-height: 29px;
  *margin-left: 5px;
  background: #f4f4f4;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.own_flip a:hover {
  background: #7fcff9;
  color: #fff;
}
.own_flip .show_bg {
  background: #7fcff9;
  color: #fff;
}
.we_team {
  margin: 36px auto 0;
  width: 1050px;
  padding-bottom: 30px;
}
.we_team .link {
  float: left;
  width: 310px;
  margin: 0 20px 28px;
}
.we_team .link .pics {
  display: block;
  width: 100%;
  height: 224px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.we_team .link .text_name {
  font-size: 18px;
  color: #4a9df1;
  text-align: center;
  margin-top: 15px;
}
.we_team .link .text_word {
  text-transform: uppercase;
  font-size: 13px;
  color: #5c7a99;
  text-align: center;
}
.we_team .link:hover .pics {
  -webkit-box-shadow: 12px 12px 30px rgba(157, 223, 251, 0.6);
  box-shadow: 12px 12px 30px rgba(157, 223, 251, 0.6);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.we_team_details {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 38px;
}
.we_team_details .team_details_main {
  width: 1144px;
  margin: 34px auto 0;
  display: none;
  overflow: hidden;
}
.we_team_details .team_details_main .left_pics {
  float: left;
  width: 380px;
  height: 272px;
  border: 2px solid #c5e6fc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.we_team_details .team_details_main .left_pics .pic {
  display: block;
  width: 100%;
  height: 100%;
}
.we_team_details .team_details_main .right_text {
  float: left;
  margin-left: 98px;
}
.we_team_details .team_details_main .right_text .lis {
  margin-top: 18px;
}
.we_team_details .team_details_main .right_text .lis .left_te {
  float: left;
  width: 90px;
  font-size: 18px;
  color: #3d5266;
  font-family: "微软雅黑 Light";
}
.we_team_details .team_details_main .right_text .lis .right_te {
  float: left;
  width: 470px;
  font-size: 18px;
  color: #3d5266;
  font-family: "微软雅黑 Light";
}
.we_team_details .team_details_main .right_text .lis .right_te1 {
  height: 48px;
  overflow: hidden;
}
.team_details_title {
  background: #f8f8f8;
  padding: 40px 0;
}
.team_details_title .main {
  width: 1130px;
  margin: 0 auto;
}
.team_details_title .picScroll-left {
  position: relative;
}
.team_details_title .picScroll-left .hd {
  position: relative;
}
.team_details_title .picScroll-left .hd .prev,
.team_details_title .picScroll-left .hd .next {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/someicon.png");
  background-position: -53px 0;
  position: absolute;
  top: 78px;
  cursor: pointer;
}
.team_details_title .picScroll-left .hd .prev {
  left: 0;
}
.team_details_title .picScroll-left .hd .next {
  background-position: -91px 0;
  right: 0;
}
.team_details_title .picScroll-left .bd {
  padding: 0 60px;
}
.team_details_title .picScroll-left .bd ul {
  zoom: 1;
}
.team_details_title .picScroll-left .bd ul li {
  margin: 0 8px;
  float: left;
  _display: inline;
  text-align: center;
}
.team_details_title .picScroll-left .bd ul li .pic {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.team_details_title .picScroll-left .bd ul li .pic:hover {
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.team_details_title .picScroll-left .bd ul li .active {
  box-shadow: 2px 4px 10px 1px rgba(74, 157, 241, 0.8);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.team_details_title .picScroll-left .bd ul li .pic img {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  width: 236px;
  height: 169px;
  display: block;
}
.tr_about_list {
  width: 1064px;
  margin: 30px auto;
}
.tr_about_list .links {
  float: left;
  width: 236px;
  margin: 0 15px 15px;
}
.tr_about_list .links .pics {
  display: block;
  width: 100%;
  height: 170px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.tr_about_list .links .text {
  text-align: center;
  font-size: 18px;
  color: #4a9df1;
  margin-top: 5px;
}
.tr_about_list .links .word {
  text-align: center;
  font-size: 12px;
  color: #5c7a99;
}
.tr_about_list .links:hover .pics {
  box-shadow: 2px 4px 10px 1px rgba(74, 157, 241, 0.8);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.call_us {
  width: 1140px;
  margin: 48px auto;
}
.call_us li {
  float: left;
  width: 205px;
  margin: 0 40px;
}
.call_us li .icon {
  width: 68px;
  height: 68px;
  background: url("../images/someicon.png");
  margin: 0 auto;
}
.call_us li .icon1 {
  background-position: -10px -60px;
}
.call_us li .icon2 {
  background-position: -102px -60px;
}
.call_us li .icon3 {
  background-position: -205px -60px;
}
.call_us li .icon4 {
  background-position: -318px -60px;
}
.call_us li .text0 {
  text-align: center;
  font-size: 20px;
  color: #4a9df1;
  line-height: 20px;
  margin: 16px 0 25px;
}
.call_us li .text1 {
  font-size: 18px;
  color: #3d5266;
  text-align: center;
  line-height: 28px;
}
.call_us li .text1 div {
  display: inline-block;
  text-align: left;
}
.call_us_map_div {
  width: 1198px;
  border: 1px solid #88d2f9;
  height: 485px;
  margin: 0 auto 50px;
}
.hospital_title {
  height: 28px;
  border-left: 11px solid #7fcff9;
  line-height: 28px;
  font-size: 23px;
  padding-left: 5px;
  color: #3d5266;
}
.hospital_title span {
  font-size: 18px;
}
.about_hospital {
  background: #f8f8f8;
  padding-bottom: 30px;
}
.about_hospital .main {
  width: 1140px;
  margin: 0 auto;
  padding-top: 40px;
}
.about_hospital .main .spe_list {
  margin-top: 32px;
}
.about_hospital .main .spe_list li {
  float: left;
  width: 312px;
  height: 255px;
  border: 1px solid #7fcff9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin: 0 25px 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
}
.about_hospital .main .spe_list li .muns {
  position: absolute;
  width: 72px;
  height: 72px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 30px;
  font-family: "微软雅黑 Light";
  text-align: center;
  line-height: 72px;
  top: -1px;
  left: -1px;
  z-index: 10;
  -webkit-transition: all .3s linear .15s;
  transition: all .3s linear .15s;
}
.about_hospital .main .spe_list li .muns_mask {
  position: absolute;
  width: 72px;
  height: 72px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: #7fcff9;
  top: -1px;
  left: -1px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 8;
}
.about_hospital .main .spe_list li:hover .muns_mask {
  width: 101%;
  height: 101%;
}
.about_hospital .main .spe_list li .title {
  width: 167px;
  margin: 26px auto 36px;
  font-size: 18px;
  color: #3d5266;
  position: relative;
  z-index: 20;
  text-align: center;
  line-height: 20px;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.about_hospital .main .spe_list li .text {
  padding: 0 15px;
  font-size: 14px;
  color: #3d5266;
  position: relative;
  z-index: 20;
  line-height: 26px;
  max-height: 156px;
  overflow: hidden;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.about_hospital .main .spe_list li:hover .title {
  color: #fff;
}
.about_hospital .main .spe_list li:hover .text {
  color: #fff;
}
.about_hospital1 {
  padding: 36px 0 30px;
  width: 1072px;
  margin: 0 auto;
  position: relative;
}
.about_hospital1 .bage {
  position: absolute;
  top: -65px;
  left: -198px;
}
.about_hospital1 .link {
  float: left;
  width: 236px;
  margin: 0 16px;
}
.about_hospital1 .link .pics {
  display: block;
  width: 100%;
  height: 169px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.about_hospital1 .link .te1 {
  font-size: 20px;
  color: #4a9df1;
  text-align: center;
  margin-top: 10px;
}
.about_hospital1 .link .te2 {
  font-size: 12px;
  color: #5c7a99;
  text-align: center;
}
.about_hospital1 .link:hover .pics {
  box-shadow: 2px 4px 10px 1px rgba(74, 157, 241, 0.8);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.cosmetology_de {
  width: 1200px;
  margin: 0 auto;
}
.cosmetology_de .title {
  font-size: 25px;
  color: #3d5266;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 25px;
}
.cosmetology_de .info {
  text-align: center;
  font-size: 13px;
}
.cosmetology_de .line {
  height: 3px;
  background: #e4e4e4;
  margin: 16px 0;
}
.cosmetology_de .productdetail_keditor {
  padding: 30px;
}
.cosmetology_de .back_re {
  margin-top: 20px;
  padding-bottom: 50px;
}
.cosmetology_de .back_re .links {
  font-size: 14px;
  color: #323232;
  display: block;
  line-height: 25px;
  padding-right: 20px;
}
.cosmetology_de .back_re .links:hover {
  opacity: .7;
}
.news_list {
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
}
.news_list .main {
  width: 1200px;
  margin: 0 auto;
}
.news_list .main .cons li {
  width: 100%;
  height: 200px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #82d0f9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.news_list .main .cons li:hover {
  -webkit-box-shadow: 0 9px 15px rgba(130, 208, 249, 0.3);
  box-shadow: 0 9px 15px rgba(130, 208, 249, 0.3);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.news_list .main .cons li .link_left_pics {
  float: left;
  margin: 10px 0 0 11px;
}
.news_list .main .cons li .link_left_pics .pics {
  display: block;
  width: 290px;
  height: 180px;
}
.news_list .main .cons li .text_right {
  float: left;
  width: 845px;
  margin-left: 28px;
}
.news_list .main .cons li .text_right .lis1 {
  overflow: hidden;
  margin-top: 20px;
}
.news_list .main .cons li .text_right .lis1 .tit {
  float: left;
  color: #3d5266;
  font-size: 18px;
  line-height: 20px;
  width: 450px;
}
.news_list .main .cons li .text_right .lis1 .time {
  float: right;
  color: #3d5266;
  font-size: 20px;
  line-height: 20px;
}
.news_list .main .cons li .text_right .lis2 {
  font-size: 14px;
  color: #3d5266;
  line-height: 25px;
  margin-top: 25px;
}
.news_list .main .cons li .text_right .lis3_link {
  width: 120px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  border: 1px solid #82d0f9;
  color: #82d0f9;
  margin-top: 25px;
  transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
}
.news_list .main .cons li .text_right .lis3_link:hover {
  background: #82d0f9;
  color: #fff;
  border: 1px solid #82d0f9;
}
.welfare_page {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  height: 266px;
}
.welfare_page li {
  float: left;
}
.welfare_page2 {
  background: #f8f8f8;
}
.welfare_page2 .about_hospital1 .link {
  margin-bottom: 20px;
}
.welfare_page2 .about_hospital1 .index-linkmore-style {
  float: right;
}
/*# sourceMappingURL=index.css.map */