<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script type="text/javascript" src="__WEBMONKEY__/js/jquery/jquery/1.8.3/jquery.js"></script>
    <script type="text/javascript" src="__WEBMONKEY__/js/jquery/toucher/toucher.js"></script>
    <title>南昌卫宠宠物诊所</title>
    <link rel="stylesheet" type="text/css" href="http://webmonkey.d17.cc/template/weichong/mobile/css/dist/weichong.mobile.min.css">
</head>
<body>
<header class="module_header">
	首页
	<i class="listbtn"></i>
</header>
<div class="filltop"></div>
<div class="indexbg">
	<ul class="listpage clr">
		<li><a href="{:U('Article/lists?category=53')}"><i class="icon icon1"></i><span>关于我们</span></a></li>
		<li><a href="{:U('Article/lists?category=54')}"><i class="icon icon2"></i><span>卫宠服务</span></a></li>
		<li><a href="{:U('Article/lists?category=62')}"><i class="icon icon3"></i><span>卫宠用品</span></a></li>
		<li><a href="{:U('Article/lists?category=58')}"><i class="icon icon4"></i><span>医疗团队</span></a></li>
	</ul>
</div>
<include file="Public/footer"/>
</body>
</html>