<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>评价列表
        <!--[ <a href="{:U('olists')}">全部</a>&nbsp;
          <a href="{:U('olists?status=2')}">已结清</a>&nbsp; 
          <a href="{:U('olists?status=1')}">部分结清</a>&nbsp; 
          <a href="{:U('olists?status=-1')}">已关闭</a>&nbsp;] 
          -->
        </h2>
	</div>

	<div class="cf">

		<!-- 高级搜索 -->
		<div class="search-form fr cf">
        	<div style="float:left;margin-right:10px;">
            	<input type="text" id="time-start" name="time-start" class="text input-2x" value="{:I('time-start')}" placeholder="评价起始时间" /> -
                <input type="text" id="time-end" name="time-end" class="text input-2x" value="{:I('time-end')}" placeholder="评价结束时间" />
             </div>
			<div class="sleft">
                
                
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Order/olists')}"><i class="btn-search"></i></a>
			</div>
		</div>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>用户</th>
                    <th>产品</th>
					<th>评价内容</th>
					<th>星级</th>
					<th>评价时间</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="vo">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.eid}"></td>
						<td>{$vo.eid}</td>
						<td>
                        	帐号：{$vo.user.nickname}<br/>
                        	公司名称：{$vo.user.cname}<br/>
                            姓名：{$vo.user.name}<br/>
                        </td>
                        <td>
                         <a href="{:C('SITE_URL')}Article/detail?id={$vo.goods.id}" target="_blank">{$vo.goods.title}</a>
                        </td>
						<td>{$vo.content}</td>
                        <td>
                        	效果:{$vo.star1}<br/>
	                        质量:{$vo.star2}<br/>
                            态度:{$vo.star3}<br/>
                        </td>
						<td>{$vo.create_time|date='Y.m.d H:i',###}</td>
						
                        <td>
                        	<a href="{:U('del?ids='.$vo['eid'])}">删除</a>
                        </td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	//回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
	//点击排序
	$('.list_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});
	//时间控件
	 $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#time-end').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });
});
</script>
</block>